.gradle
/kblog/src/main/webapp/**
/kblog/src/main/webapp/admin/
/kblog/src/main/webapp/work/**
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

# Eclipse project files
.classpath
.project
.settings/
*.prefs


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

# Others
target/
logs/
.gradle/
*.log

#Node
node_modules/
package-lock.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/kblog/src/main/webapp/admin/
